html {
    background-color: white;
}
body {
    height: 250px;
    width: 300px;
    background-color: white;
}

#title {
    text-align: center;
}
#image_logo {
    border-radius: 15%;
    height: 20px;
    margin-top: 0px;
    margin-left: 0px;
    border: 1px #0063be solid;
    display: inline;
}
#text {
    color: #0063be;
    font-size: 30px;
    font-family: sans-serif;
    width: 70px;
}

#buttons {
    display: table;
    margin: auto;
}