html {
    background-color: white;
}
body {
    height: 250px;
    width: 300px;
    background-color: white;
    user-select: none;
}


#title {
    text-align: center;
    margin-bottom: 0px;
}
#image_logo {
    border-radius: 15%;
    height: 20px;
    margin-top: 0px;
    margin-left: 0px;
    border: 2px #0063be solid;
    display: inline;
}
#text {
    color: #0063be;
    font-size: 30px;
    font-family: sans-serif;
    width: 70px;
}


#credit {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 0px;
}
#linkbrickplacer:link {
    text-decoration: none;
    color: gray;
    font-size: small;
}
#linkbrickplacer:visited {
    text-decoration: none;
    color: gray;
}
#linkbrickplacer:hover {
    text-decoration: underline;
}


#buttons {
    display: table;
    margin: auto;
}
.links, .links:link, .links:visited, .links:hover {
    background-color: #004f99;
    height: 40px;
    width: 70px;
    padding: 4px;
    border-radius: 10%;
    text-decoration: none;
    color: white;
}
.links:hover {
    background-color: #0069cc
}
.links:active {
    background-color: #0077e6
}

#version {
    background-color: lightgray;
    border-radius: 5px;
    position: absolute;
    text-align: center;
    font-weight: bold;

    bottom: 10px;
    right: 10px;
    height: auto;
    width: auto;
    padding: 1px 5px 1px 5px;
    font-size: 18px;
}